body {
	background: url("http://lea.verou.me/ft2010/img/darker_wood.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.content {
	width: 50%;
	height: 100%;
	margin: 80px auto 0px;
}

.text {
	margin-top: 30px;
}

.quote {
	font-family: 'Oswald', sans-serif;
	color: #D2D5CC;
	font-size: 3em;
}

.author {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #D2D5CC;
	float: right;
	margin-top: 30px;
}

.click {
	margin-bottom: 70px;
	text-align: center;
}

 .twitter-share-button {
 	margin-left: 10px;
 }

 .about {
 	color: #D2D5CC;
 	width: 50%;
 	text-align: center;
 	position: fixed;
 	bottom: 10px;
 }

 #next-quote {
 	font-family: 'Oswald', sans-serif;
    background-color: #D2D5CC;
 }

 @media only screen and (max-width: 960px) {
 	.quote {
 		font-size: 40px;
 	}
 	.author {
 		font-size: 15px;

 	}
 }

 @media only screen and (max-width: 960px) {
 	.about {
		position: absolute;
 		top: 10px; 	
 		margin-top: 30px;
 }

 