body {
	background-image: url("http://lea.verou.me/ft2010/img/darker_wood.jpg");
}

.quote-machine {
	width: 50%;
	margin: 230px auto 0px;
}

.quote {
	font-family: 'Oswald', sans-serif;
	color: #D2D5CC;
	font-size: 50px;
}

.author {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #D2D5CC;
	float: right;
	margin-top: 30px;
}

.click {
	margin-top: 80px;
	margin-bottom: 60px;
	text-align: center;
}

 .twitter-share-button {
 	margin-left: 10px;
 }

 .about {
 	color: #D2D5CC;
 	text-align: center;
 }

 #next-quote {
 	font-family: 'Oswald', sans-serif;
    background-color: #D2D5CC;
 }

 @media only screen and (max-width: 960px) {
 	.quote {
 		font-size: 40px;
 	}
 }

 